/* Helpers */

@function mixhsl ($color1, $color2, $ratio) {
  @return hsl(
    $ratio * hue($color1) + (1 - $ratio) * hue($color2),
    $ratio * saturation($color1) + (1 - $ratio) * saturation($color2),
    $ratio * lightness($color1) + (1 - $ratio) * lightness($color2)
  )
}

/* Greys */
$white: #ffffff;
$black: #292929;

@function grey ($lv) {
  @if $lv==0 {
    @return $white
  }
  @else if $lv==1 {
    @return mixhsl($white, $black, 0.95)
  }
  @else if $lv==2 {
    @return mixhsl($white, $black, 0.90)
  }
  @else if $lv==3 {
    @return mixhsl($white, $black, 0.80)
  }
  @else if $lv==4 {
    @return mixhsl($white, $black, 0.60)
  }
  @else if $lv==5 {
    @return mixhsl($white, $black, 0.40)
  }
  @else if $lv==6 {
    @return mixhsl($white, $black, 0.20)
  }
  @else if $lv==7 {
    @return mixhsl($white, $black, 0.10)
  }
  @else if $lv==8 {
    @return mixhsl($white, $black, 0.05)
  }
  @else if $lv==9 {
    @return $black
  }
}

/* Primary */
$primary-light: aliceblue;
$primary-dark: #001738;

@function primary ($lv) {
  @if $lv==0 {
    @return $primary-light
  }
  @else if $lv==1 {
    @return mixhsl($primary-light, $primary-dark, 0.95)
  }
  @else if $lv==2 {
    @return mixhsl($primary-light, $primary-dark, 0.90)
  }
  @else if $lv==3 {
    @return mixhsl($primary-light, $primary-dark, 0.80)
  }
  @else if $lv==4 {
    @return mixhsl($primary-light, $primary-dark, 0.60)
  }
  @else if $lv==5 {
    @return mixhsl($primary-light, $primary-dark, 0.40)
  }
  @else if $lv==6 {
    @return mixhsl($primary-light, $primary-dark, 0.20)
  }
  @else if $lv==7 {
    @return mixhsl($primary-light, $primary-dark, 0.10)
  }
  @else if $lv==8 {
    @return mixhsl($primary-light, $primary-dark, 0.05)
  }
  @else if $lv==9 {
    @return $primary-dark
  }
}
