/* Screen-size Handling */

$small-screen:
  "screen and (min-width: 48em), screen and (min-height: 48em)";
$medium-screen:
  "screen and (min-width: 64em), screen and (min-height: 64em)";
$large-screen:
  "screen and (min-width: 85.375em), screen and (min-height: 85.375em)";
$xlarge-screen:
  "screen and (min-width: 120em)";
$xxlarge-screen:
  "screen and (min-width: 160em)";

@-ms-viewport { width: device-width; }

@media #{$small-screen} {
  html { font-size: 1.1em; }
}

@media #{$medium-screen} {
  html { font-size: 1.2em; }
}

@media #{$large-screen} {
  html { font-size: 1.3em; }
}

@media #{$xlarge-screen} {
  html { font-size: 1.5em; }
}

@media #{$xxlarge-screen} {
  html { font-size: 1.8em; }
}
