/* Screen-size Handling */

$small-screen:
  "screen and (min-width: 800px), screen and (min-height: 600px)";
$medium-screen:
  "screen and (min-width: 1024px), screen and (min-height: 768px)";
$large-screen:
  "screen and (min-width: 1366px), screen and (min-height: 1024px)";
$xlarge-screen:
  "screen and (min-width: 1920px), screen and (min-height: 1366px)";
$xxlarge-screen:
  "screen and (min-width: 2560px)";

@-ms-viewport { width: device-width; }

@media #{$small-screen} {
  html { font-size: 1.1em; }
}

@media #{$medium-screen} {
  html { font-size: 1.2em; }
}

@media #{$large-screen} {
  html { font-size: 1.3em; }
}

@media #{$xlarge-screen} {
  html { font-size: 1.5em; }
}

@media #{$xxlarge-screen} {
  html { font-size: 1.8em; }
}
